<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AuctionClient</title>
  <base href="/AuctionSite">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link rel="stylesheet" href="/AuctionSite/views/styles.34c57ab7888ec1573f9c.css"></head>
<body>
  <p>test </p>
  <app-root></app-root>
<script type="text/javascript" src="/AuctionSite/views/runtime.deba68f5300956163c0f.js"></script><script type="text/javascript" src="/AuctionSite/views/polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="/AuctionSite/views/main.ef607d8eff48126b15e7.js"></script></body>
</html>
