<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<div class="formDiv">
		<form action="/AuctionSite/user/login" method="post">
			<fieldset>
				<legend>Username:</legend>
				<input name="username" type="text" />
			</fieldset>
			<fieldset>
				<legend>Password:</legend>
				<input name="password" type="text" />
			</fieldset>
			<br> <input type="submit" value="add">
		</form>
		
				<form action="/AuctionSite/item/add" method="post">
			<fieldset>
				<legend>New Item:</legend>
				<input name="itemName" type="text" />
			</fieldset>
			<fieldset>
				<legend>Tag:</legend>
				<input name="categoryTag" type="text" />
			</fieldset>
			<fieldset>
				<legend>Description:</legend>
				<input name="description" type="text" />
			</fieldset>
			<fieldset>
				<legend>Image Name:</legend>
				<input name="image" type="text" />
			</fieldset>
			<fieldset>
				<legend>Initial Price:</legend>
				<input name="currentPrice" type="number" />
			</fieldset>
			<br> <input type="submit" value="add">
		</form>
		
		
	</div>
</html>