<div>
  <h2>Users Login</h2>
  <hr/>
  <!--Navbar-->


<!--/.Navbar-->
  <form class="form-horizontal"  #loginForm="ngForm" novalidate>
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="text" placeholder="username" required [(ngModel)]="users.username" name="username" #email="ngModel">
        
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control label">
        Password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="users.password" name="password"
          #password="ngModel">
        
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="login()" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10" style="padding-top:20px">
      <span style="padding-right: 5px">
        <a href="">New User? Sign up</a>
      </span>|
      <span style="padding-left: 5px">
        <a href="">Forgot Password?
        </a>
      </span>
    </div>
  </form>
</div>
